.search-section { margin: 2rem; }
.book-list { margin: 1rem 0; display: flex; flex-wrap: wrap; gap: 1.5rem; }

.book-card {
    width: 170px;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.book-cover {
    width: 100px;
    height: 140px;
}
.book-title {
    font-size: 1.05rem;
    margin-bottom: 0.2rem;
    color: #34495e;
}
.book-author {
    color: #7f8c8d;
    margin-bottom: 0.1rem;
}
.book-year {
    color: #b2bec3;
}
.book-borrow {
    font-size: 0.93rem;
    color: #636e72;
}
.book-rating {
    font-size: 0.93rem;
    color: #f39c12;
}
a.book-link {
    text-decoration: none;
    color: inherit;
}